<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="layout :: htmlhead">

  <!-- <meta http-equiv="refresh"content="1"> -->
</head>
<body>
    <div class="container" >
        <nav th:replace="layout :: menu">(menu)</nav>
    
        <h1 th:text="${nomeapp}"></h1>
        <h3 th:text="${tempo}"></h3>
        <h4 th:text="${produtor}"></h4>
        <h5 th:text="${padrao}"></h5>
        <button class="btn btn-primary">Meu botao teste</button>
        <!--<button type="button" class="btn btn-primary">Primary</button>-->
        <a href="https://www.univille.br" class="btn btn-primary">Sou um link</a>
        
    </div>
    <div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html> 